table th,td{
  border:1px solid black;
  width: 100%;
}

body{
	
  margin : 20px;
  background-image: url(hsq.jpg);
  background-size:cover;
	}
	
	.yamaha2{
		height:210;
		width:260;
		margin:20px;
	}
	
	.yamaha{
		height: 210;
		width: 300;
		margin:20px;
	}
	
	


